<!doctype html>
<html ng-app="app">
<head>
    <!-- Reference AngularJS -->
    <script src="node_modules/angular/angular.min.js"></script>
    <!-- Reference angular chart -->
    <script src="node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
    <!--JQuery/Bootstrap reference -->
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
	<!-- reference for datepicker control-->
	<script src="node_modules/angularjs-datepicker/dist/angular-datepicker.js"></script>
	<link href="node_modules/angularjs-datepicker/dist/angular-datepicker.css" rel="stylesheet" type="text/css" />
    <!-- Angular js Controllers-->
	<link rel="stylesheet" href="Style\Main.css">
    <script src="scripts/Main.js"></script> 
    <script src="scripts/controllers/ValueLostByAirline.js"></script> 
    <script src="scripts/controllers/ClaimsByAirport.js"></script>	
	<script src="scripts/controllers/AddClaim.js"></script>	
	
</head>
<body>
    <div class="container">
		<br/><br/>
		<div id="pageHeader">
			<h1>Neha Rani's Awato Project</h1>
		</div>
        <br/><br/>
        <ul class="nav nav-pills">
            <li class="active"><a data-toggle="pill" href="#value-lost-airline">Value Lost by AirLine</a></li>
            <li><a data-toggle="pill" href="#claims-by-airport">Avg Claims by Airport</a></li>	
			<li><a data-toggle="pill" href="#add-Claim">Add Claims</a></li>	
        </ul>
		<br/><br/>
        <div class="tab-content">
            <div id="value-lost-airline" class="tab-pane fade in active" ng-controller="valueLostByAirlineCtrl">
				<canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options" 
				chart-dataset-override="datasetOverride" chart-click="onClick">
				</canvas>
            </div>
            <div id="claims-by-airport" class="tab-pane fade" ng-controller="claimsByAirportCtrl">
                <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options">
                </canvas>
				<div> 
					<span>Airports:</span>
					<label ng-repeat="(airportCode,enabled) in airports">
					&nbsp;&nbsp;<input type="checkbox" ng-model="airports[airportCode]" ng-change="onFiltersChange()" /> {{airportCode}}</label>                
				</div>
				<div> 
					<span>Years:</span>
					<label ng-repeat="(year, enabled) in years">
					&nbsp;&nbsp;<input type="checkbox" ng-model="years[year]" ng-change="onFiltersChange()" /> {{year}}</label>                
				</div>
            </div>
			<div id="add-Claim" class="tab-pane fade" ng-controller="addClaimCtrl">
				<form>
					<div class="form-group">
					  <label class="control-label col-lg-2" for="Airline_Name">Airline Name : </label>
					  <div class="col-lg-4">
						<input type="text" class="form-control" id="airlineName" placeholder="Enter AirLine Name" ng-model="airlineName">
					  </div>
					</div>
					<br/><br/></br>
					<div class="form-group">
					  <label class="control-label col-lg-2" for="Airport_Code">Airport Code : </label>
					  <div class="col-lg-4">
						<input type="text" class="form-control" id="airportCode" placeholder="Enter Airport Code" ng-model="airportCode">
					  </div>
					</div>
					</br><br/>
					<div class="form-group">
					  <label class="control-label col-lg-2" for="Close_Amount">Close Amount : </label>
					  <div class="col-lg-4">
						<input type="text" class="form-control" id="closeAmount" placeholder="Enter Close Amount" ng-model="closeAmount">
					  </div>
					</div></br></br>
					<div class="form-group">
					  <label class="control-label col-lg-2" for="Date_Received">Date Received : </label>
					  <div class="col-lg-4">
						<datepicker date-format="dd-MMM-yy" selector="form-control">
							<div class="input-group">
								<input class="form-control" placeholder="Choose a date" ng-model="dateReceived"/>
								<span class="input-group-addon" style="cursor: pointer">
								<i class="fa fa-lg fa-calendar"></i>
								</span>
							</div>
						</datepicker>
					  </div>
					</div>
					<br/><br/>
					<div class="form-group">        
					  <div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default" ng-click = "submitClaim()">Submit</button>
					  </div>
					</div>
				</form>
			</div>
					
		</div>
	</div>
</body>
</html>